$bg-color: #68c37d
$buttonShadow: #359b8f

@mixin button-styles()
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, Tahoma, Verdana, sans-serif
    background-color: $bg-color
    color: #E5E5EA

    padding: 2vw
    border: none
    border-radius: 6px
    cursor: pointer

    width: 100%
    padding: 3vh 6.6vw
    display: flex
    justify-content: center
    border-bottom: 2px solid $buttonShadow

    font-style: normal
    font-weight: 590
    font-size: 4vw
    line-height: 5vw
