@import '../../styles/colors.module'
@import '../../styles/height.module'

.Layout
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100vh

    nav
        position: fixed
        bottom: 0
        width: 100%
        max-height: $footerHeight
        min-height: $footerHeight

        background-color: $footerMenu
        padding: 10px 0
        display: flex
        ul
            display: flex
            justify-content: space-evenly
            li
                a
                    display: flex
                    img
                        width: 8vw
                        filter: grayscale(100%)
                        opacity: .5

                .active img
                    filter: grayscale(0%)
                    opacity: 1

    .notifies
        position: fixed
        top: 2.5%
        left: 50%
        transform: translate(-50%, 0%)
        width: 80%
        text-align: center
        display: flex
        flex-direction: column
        gap: 5px

        .notify
            border: 1px solid $footerMenu
            background-color: $thirdTextColor
            font-weight: 600

            width: 100%
            padding: 4px
            border-radius: 4px
            transition: transform 0.3s ease, opacity 0.3s ease

            &.hidden
                transform: translateY(-50%)
                opacity: 0
