@import '../../styles/colors.module'
@import '../../styles/button.module'

.Friends
    p
        margin-top: 2.5vh
        font-size: 14px
        text-align: center
        img
            width: 20px
            vertical-align: middle

    h3
        font-weight: 700
        font-size: 18px
        margin: 20px 0

    .list__container

        height: 77%

    .list
        max-height: 60vh
        gap: 3vh

        .info
            .avatar
                background-color: $avatarColor

            .details
                span
                    img
                        vertical-align: middle
                        width: 5vw
                        filter: grayscale(100%)

                .bp
                    color: $secondTextColor

    .invite__button
        @include button-styles()
        font-size: 6vw
        padding: 5vw
