@import '../../styles/colors.module'
@import '../../styles/height.module'
@import '../../styles/button.module'
.Tasks

    .choice__container
        border: 1px solid #ECF6F3
        background-color: #fff
        width: 80%
        margin: 0 auto 20px auto
        border-radius: 30px
            // display: flex
            // justify-content: space-evenly
            // gap: 30px
        font-size: 16px
        font-weight: 600
        padding: 5px 0

        span
            display: inline-block
            text-align: center
            width: calc( 50% - 10px )
            border-radius: 30px
            padding: 8px 0
            margin-left: 7px
            color: $secondTextColor

        .active
            background-color: #ECF6F3
    .list__container
        height: calc( 80vh - $titleHeight + $footerHeight )
        .list
            .info
                .avatar
                    background-color: #fff

                .details
                    .left
                        span
                            font-weight: 400

    .daily__container
        text-align: center
        height: calc( 80vh - $titleHeight + $footerHeight )
        display: flex
        flex-direction: column
        justify-content: space-between

        .rewards
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: center
            gap: 0 5px

            .day
                display: flex
                flex-direction: column
                align-items: center
                width: 80px
                // height: 80px
                padding: 10px 0
                gap: 5px
                margin-bottom: 15px

                border: 1px solid $dailyBorderColor
                background-color: $dailyBgColor
                border-radius: 12px
                line-height: 10px

                &.active
                    background-color: $dailyActiveColor
                    border: 1px solid $thirdTextColor

                h3
                    font-size: 14px
                    color: $secondTextColor
                    font-weight: 400

                img
                    width: 40%

                span
                    color: $thirdTextColor
                    font-size: 14px
                    font-weight: 400

        button
            @include button-styles()
            font-size: 20px
            margin-bottom: 4vw
            transition: .3s

            &.disabled
                opacity: .5
